[Unit]
Description=Alarm Clock
After=network.target

[Service]
User=pi
Restart=always
Type=simple
WorkingDirectory=/home/pi/alarmclock
ExecStart=/usr/local/bin/pipenv run python3 /home/pi/alarmclock/alarmclock.py

[Install]
WantedBy=multi-user.target
