[Unit]
Description=Alarm Clock
After=network.target

[Service]
User=pi
Restart=always
Type=simple
WorkingDirectory=/home/pi/alarmclock-v2
ExecStart=/usr/local/bin/pipenv run python3 /home/pi/alarmclock-v2/alarmclock.py

[Install]
WantedBy=multi-user.target
